# ========================
# IntelliJ IDEA
# ========================
.idea/

# ========================
# Gradle (Groovy DSL)
# ========================
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# Logs
# ========================
*.log
logs/

# ========================
# Variables de entorno
# ========================
.env
.env.local
